---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Badge from "@/components/Badge.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<Layout
  title="Porfolio de Nico - Desarrollador Full Stack"
  description="Portfolio de Nico, desarrollador full stack especializado en crear soluciones."
>
  <main class="px-4">
    <SectionContainer class="py-28 pb-32 flex flex-col items-center">
      
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola! Soy Nico🫡 <a
          href="https://linkedin.com/in/nicolasfiz"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center hover:scale-105 transition"
        >
          <Badge>Trabajando</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-pretty max-w-[700px] text-black dark:text-white"
      >
        <span>+2 años de experiencia.</span><span
          class="text-yellow-800 dark:text-yellow-200"
        >
          Desarrollador Full Stack (Backend pref ⚙️)</span
        >.
        <span class="text-red-800 dark:text-red-200">
          Viviendo en Granada, España📍</span
        >.
        <span class="text-sky-800 dark:text-sky-200"
          >Especializado en crear soluciones.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/nicolasfiz">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/nicolasfiz">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:nicolasfizb@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          nicolasfizb@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <ProfileCheck class="size-7" />
        Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
