---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Oct. 2023 - Actualidad...",
    title: "Desarrollador de Software - GreenPoweMonitor",
    description:
      "Desarrollador en el equpo de soluciones cloud. Centrando principalmente en Backend con Node.js, Typescript y GraphQL con arquitectura de microservicios. Prestando ayuda también en Frontend con Angular y en procesos de datos con Python.",
  },
  {
    date: "Abr. 2022 - Oct. 2023",
    title: "Desarrollador de Software - TopDigital",
    description:
      "Desarrollador Full Stack en varios proyecto. Centrado en el desarrollo Backend con Node.js con Typescript y ASP.NET Core con C#, además de ser responsable de su arquitectura y entornos de desarrollo y pre-producción. Trabajando también en proyectos de Frontend con Angular.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
